/***************************************************
    Personalização A4
****************************************************/
@page { 
    background-color: var(--body);
    color: var(--body);;
    margin: 0;

}
@media print {
    #corpo{
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        padding-right: 1.5cm !important; 
        margin-left: 1.5cm;
        margin-top: 1cm;
        
    }
}
/***************************************************
    Personalização por Monitor
****************************************************/

@media screen and (max-width: 890px) and (min-width:  781px){
    .Image{
        position:sticky;
        grid-area: imgBlock; 
        
        width: 200px;   
        height: 300px;
        
    }

}

@media screen and (max-width: 780px){
    /* #Informações do Personagem */
    .Informações_da_Ficha, #nPersonage{
        text-align: center;
    }
    body{
        padding: 0;
        width: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    /* #imagem */
    .topoPrincipal{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: stretch;
    }
    .Image{
        align-self: center;
    }
    /* #Ofensiva */
    .optCombat{
        flex-direction: column ;
        align-items: center;
    }
    .ofensiva{
        padding-right: 0;
        text-align: left;
    }
    .ContaCondit{
        padding-left: 0;
        border-left: 0;
    }
    /* #Vantagens */
    .vantagens{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pericias{
        justify-content: center;
    }


}

