/* # Configurações Gerais */
/* # Fonte do Titulo */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* # Textos Comuns */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 2cm;    

    width: 100%;
    height: 100%;
    
}
body div{
    width: 80%;
}

.Separador h2{
    background-color: black;
    color: white;
    padding: 0.1cm;

    border-bottom: 2px solid;
}

h1{
    font-family: 'Anton', sans-serif;
    text-decoration-line: underline;
    font-weight: 300;
}

h2{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
strong, b{
    font-weight: 600;
}
R{
    font-weight: normal;
}
.txtIniciativa{
    text-align: center;
}
